In [86]:
import sys
sys.path.append('../_util')
sys.path.append('../data')
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None)
import warnings
warnings.filterwarnings('ignore')
from imblearn.over_sampling import SMOTE

In [87]:
data = pd.read_csv('../data/DATA_Customer-Churn.csv')
data[data == ' '] = float("NaN")
data['TotalCharges'] = pd.to_numeric(data['TotalCharges'], errors='ignore')
data['MonthlyCharges'] = pd.to_numeric(data['MonthlyCharges'], errors='ignore')
data.fillna((data.mean()), inplace=True, )

In [88]:
data['Churn'] = data['Churn'].map({'Yes': 1, 'No': 0})
numerical_features_df = data.select_dtypes(include=np.number)
categorical_features_df = data.select_dtypes(include= object )

In [89]:
category_0_base = data[data['Churn'] == 0]
category_1_base = data[data['Churn'] == 1]

category_0 = category_0_base.select_dtypes(include=np.number)
category_1 = category_1_base.select_dtypes(include=np.number)

category_0

      SeniorCitizen  tenure  MonthlyCharges  TotalCharges  Churn
0                 0       1           29.85         29.85      0
1                 0      34           56.95       1889.50      0
3                 0      45           42.30       1840.75      0
6                 0      22           89.10       1949.40      0
7                 0      10           29.75        301.90      0
...             ...     ...             ...           ...    ...
7037              0      72           21.15       1419.40      0
7038              0      24           84.80       1990.50      0
7039              0      72          103.20       7362.90      0
7040              0      11           29.60        346.45      0
7042              0      66          105.65       6844.50      0

[5174 rows x 5 columns]

In [95]:
smote = SMOTE()
y = data['Churn']
c_data = pd.concat([category_0, category_1])
X = c_data.drop(['Churn'], axis=1)
y.value_counts()

0    5174
1    1869
Name: Churn, dtype: int64

In [97]:
X_sm, y_sm = smote.fit_resample(X, y)
y_sm.value_counts()

0    5174
1    5174
Name: Churn, dtype: int64