In [20]:
import pandas as pd
import numpy as np
from scipy import stats
pd.options.display.max_rows = 100

baseDf = pd.read_csv('../../data/Data_Marketing_Customer_Analysis_Round3.csv')

#split numerical and categorical data frames

In [3]:
numerical = baseDf.select_dtypes(include=np.number)
categorical = baseDf.select_dtypes(include=object)


check if there are highly correlated features and drop them if there are any.

In [4]:
cor_matrix = numerical.corr().abs()
upper_tri = cor_matrix.where(np.triu(np.ones(cor_matrix.shape), k=1).astype(bool))

to_drop = [column for column in upper_tri.columns if any(upper_tri[column] > 0.80)]
baseDf.drop(to_drop, axis=1, inplace=True)

In [5]:
categorical

,region,response,coverage,education,effective_to_date,employment_status,gender,location_code,marital_status,policy_type,policy,renew_offer_type,sales_channel,vehicle_class,vehicle_size
0,arizona,no,basic,college,2/18/11,employed,m,suburban,married,corporate auto,corporate l3,offer3,agent,four-door car,medsize
1,california,no,basic,college,1/18/11,unemployed,f,suburban,single,personal auto,personal l3,offer4,call center,four-door car,medsize
2,washington,no,basic,bachelor,2/10/11,employed,m,suburban,single,personal auto,personal l3,offer3,call center,suv,medsize
3,oregon,yes,extended,college,1/11/11,employed,m,suburban,single,corporate auto,corporate l3,offer2,branch,four-door car,medsize
4,oregon,no,premium,bachelor,1/17/11,medical leave,f,suburban,married,personal auto,personal l2,offer1,branch,four-door car,medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10597,nevada,no,premium,bachelor,1/19/11,unemployed,f,suburban,married,personal auto,personal l1,offer3,web,luxury car,medsize
10598,oregon,no,basic,college,1/6/11,employed,f,urban,married,personal auto,personal l3,offer2,branch,four-door car,medsize
10599,arizona,no,extended,bachelor,2/6/11,employed,f,rural,married,corporate auto,corporate l3,offer1,web,luxury suv,medsize
10600,california,no,premium,college,2/13/11,employed,f,urban,divorced,personal auto,personal l1,offer1,branch,suv,medsize
10601,california,no,basic,bachelor,1/8/11,unemployed,m,suburban,single,personal auto,personal l1,offer4,web,suv,medsize

One Hot/Label Encoding of the categorical variables in the categoricals data frame that you created in Activity 4. ( Hint: check Dropfirst option).

In [18]:
categorical = pd.get_dummies(categorical, drop_first=True)
categorical

,region_california,region_nevada,region_oregon,region_washington,response_yes,coverage_extended,coverage_premium,education_college,education_doctor,education_high school or below,...,sales_channel_branch,sales_channel_call center,sales_channel_web,vehicle_class_luxury car,vehicle_class_luxury suv,vehicle_class_sports car,vehicle_class_suv,vehicle_class_two-door car,vehicle_size_medsize,vehicle_size_small
0,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,0,0,0,0,0,0,1,0,0,...,0,1,0,0,0,0,0,0,1,0
2,0,0,0,1,0,0,0,0,0,0,...,0,1,0,0,0,0,1,0,1,0
3,0,0,1,0,1,1,0,1,0,0,...,1,0,0,0,0,0,0,0,1,0
4,0,0,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10597,0,1,0,0,0,0,1,0,0,0,...,0,0,1,1,0,0,0,0,1,0
10598,0,0,1,0,0,0,0,1,0,0,...,1,0,0,0,0,0,0,0,1,0
10599,0,0,0,0,0,1,0,0,0,0,...,0,0,1,0,1,0,0,0,1,0
10600,1,0,0,0,0,0,1,1,0,0,...,1,0,0,0,0,0,1,0,1,0
10601,1,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,1,0,1,0

for the first iteration, we will focus on the numericals data (numericals data frame) as our data source.
(optional) remove the outliers from the numerical columns.

In [21]:
numerical[(np.abs(stats.zscore(numerical)) < 3).all(axis=1)]

,customer_lifetime_value,income,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,total_claim_amount
0,4809,48029,61,7,52,0,9,292
1,2228,61311,64,3,26,0,1,744
2,14947,22139,100,34,31,0,2,480
3,22332,49078,97,10,3,0,2,484
4,9025,23675,117,25,31,0,7,707
...,...,...,...,...,...,...,...,...
10593,4547,33531,116,11,15,0,1,801
10594,3579,28304,91,10,30,2,1,655
10596,19228,86391,187,14,32,0,2,897
10598,5259,61146,65,7,68,0,6,273
10601,6857,85639,101,31,1,0,3,1021

X-y split (y is the target variable which is the total claim amount)

In [24]:
X = numerical.drop('total_claim_amount', axis=1)
y = numerical.total_claim_amount
X = X._get_numeric_data()
X

,customer_lifetime_value,income,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies
0,4809,48029,61,7,52,0,9
1,2228,61311,64,3,26,0,1
2,14947,22139,100,34,31,0,2
3,22332,49078,97,10,3,0,2
4,9025,23675,117,25,31,0,7
...,...,...,...,...,...,...,...
10597,15563,38966,253,19,40,0,7
10598,5259,61146,65,7,68,0,6
10599,23893,39837,201,11,63,0,2
10600,11971,64195,158,0,27,4,6
10601,6857,85639,101,31,1,0,3