In [15]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import re
import statsmodels.api as sm
import statistics
from scipy.stats import boxcox

pd.options.display.max_rows = 100
pattern = re.compile(r"^(?:\\.|[^/\\])*/((?:\\.|[^/\\])*)/")

columns_options = {'ST': 'state',
                    'State': 'state',
                    'Gender': 'gender',
                    'GENDER': 'gender'}

dataFrame1 = pd.read_csv('Data/file1.csv')
dataFrame2 = pd.read_csv('Data/file2.csv')
dataFrame3 = pd.read_csv('Data/file3.csv')

dataFrame1.rename(columns=columns_options,
                        inplace=True, errors='ignore')

dataFrame2.rename(columns=columns_options,
                        inplace=True, errors='ignore')

dataFrame3.rename(columns=columns_options,
                        inplace=True, errors='ignore')



dataFrame = pd.concat([dataFrame1,dataFrame2,dataFrame3],axis=0,ignore_index=True)


# merged_data= df1.merge(df2, on=["column1","column2"])
#ic_df=pd.merge(dataFrame1,dataFrame2,on=['ST','State'],how = "right")
dataFrame.columns = list(map(lambda h:h.lower().strip(),dataFrame.columns))


def string_to_float_int_convertor(data):
    if isinstance(data, str):
        data = data.replace('%','')
        return int(float(data))
    else:
        return data

dataFrame['customer lifetime value'] = dataFrame['customer lifetime value'].fillna(0)
dataFrame['customer lifetime value'] = list(map(string_to_float_int_convertor,dataFrame['customer lifetime value']))
dataFrame['number of open complaints'] = dataFrame['number of open complaints'].fillna(0)

def get_value_between_slashes(open_contract):
    if  isinstance(open_contract, str):
        return pattern.match(open_contract).group(1)
    else:
        return open_contract

dataFrame['number of open complaints'] = list(map(get_value_between_slashes,dataFrame['number of open complaints']))
dataFrame['state'] = dataFrame['state'].fillna('not provided')
dataFrame['gender'] = dataFrame['gender'].fillna('not available')

# def columns_combiner(col1,col2):
#     for col1_1, col2_1 in zip(col1,col2):
#        return col1_1 or col2_1 or 0
       
    
# numerical_value_df = ic_df.select_dtypes(include=np.number)



# ic_df["state"] = columns_combiner(ic_df["st"],ic_df["state"] ) 
# ic_df["state"] =list(zip(df.lat, df.long))
# columns_combiner(ic_df["st"],ic_df["state"] )

# for item in list(numerical_value_df):
    #mean_number =  statistics.mean(ic_df[item])  
    #print(ic_df[item].head(),mean_number)
    #ic_df[item] = ic_df[item].fillna(ic_df[item].mean())
    #ic_df[item] = ic_df[item].replace(to_replace = 0, value = ic_df[item].mean() or 0 , inplace=True)
#     ic_df[item] = ic_df[item].apply(lambda x: x.fillna(x.mean()) if x == 0 else x)

#salary_col.replace(to_replace = 0, value = salary_col.mean(), inplace=True
dataFrame

,customer,state,gender,education,customer lifetime value,income,monthly premium auto,number of open complaints,policy type,vehicle class,total claim amount
0,RB50392,Washington,not available,Master,0.000000e+00,0.0,1000.0,0,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,6.979530e+05,0.0,94.0,0,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1.288743e+06,48767.0,108.0,0,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,7.645860e+05,0.0,106.0,0,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,5.363070e+05,36357.0,68.0,0,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...,...,...
12069,LA72316,California,M,Bachelor,2.340599e+04,71941.0,73.0,0,Personal Auto,Four-Door Car,198.234764
12070,PK87824,California,F,College,3.096511e+03,21604.0,79.0,0,Corporate Auto,Four-Door Car,379.200000
12071,TD14365,California,M,Bachelor,8.163890e+03,0.0,85.0,3,Corporate Auto,Four-Door Car,790.784983
12072,UP19263,California,M,College,7.524442e+03,21941.0,96.0,0,Personal Auto,Four-Door Car,691.200000
12073,Y167826,California,M,College,2.611837e+03,0.0,77.0,0,Corporate Auto,Two-Door Car,369.600000